.login {
    background-color: #c7c7c7;
    box-shadow: 5px 5px;
    text-align: center;
    width:300px;
    margin:auto;
    border-radius:20px;
}

.lab {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    width: 60px;
}
