.navBar{
    background-color: blue;
    /*color: whitesmoke;*/
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
}

nav.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar li{
    display: inline;
    padding: 5px 5px;
}

.navBar a{
    color: whitesmoke;
}
.navBar a:hover{
    color: gray;
}

.main{
    width: 95%;
    height: 100vh;
    position: fixed;
    left: 50%;
    margin-left: -47.5%;
    top: 50%;
    margin-top: 50vh;
    background-image: url("../img/tetris.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 5%;
    background-size: cover;
}
