#greyBox {
    background-color: #c7c7c7;
    /* position: absolute; */
    box-shadow: 5px 5px;
    text-align: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin: auto;
    width: 320px;
    height: 620px;
    border-radius: 20px;
    border-style: solid;
}

#StartButton {
    position: relative;
    top: 49%;
}

#tetris-bg {
    background-image: url("../img/tetris-grid-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

#results {
    position: relative;
    left: 50px;
    top: 100px;
    width: 200px;
    height: 400px;
    background-color: #c7c7c7;
    border-radius: 20px;
    border-style: solid;
}
